{:deps
 {org.clojure/clojure           {:mvn/version "1.10.0"}
  org.clojure/core.async        {:mvn/version "1.2.603"}
  org.clojure/core.match        {:mvn/version "1.0.0"}
  clj-serial                    {:mvn/version "2.0.5"}
  clojure-lanterna              {:mvn/version "0.9.4"}
  geraet                        {:local/root  "/home/tupel/Dev/clockworks/experiments/geraet"}}}
